[Desktop Entry]
Type=Application
Exec=sudo ceni
Icon=ceni
Terminal=true
Name=Ceni
Name[am]=Ceni
Name[ca]=CENI
Name[de]=Ceni
Name[el]=Ceni
Name[es]=Ceni
Name[fr]=Ceni
Name[it]=Ceni
Name[nl]=Ceni
Name[pt]=Ceni - configurar redes
Name[ru]=Ceni
Name[sv]=Ceni
Comment=Network card configuration
Comment[am]=የ ኔትዎርክ ካርድ ማሰናጃ
Comment[ca]=Configuració de tarja de xarxa
Comment[de]=Konfiguration der Netzwerkkarte
Comment[el]=Ρύθμιση κάρτας δικτύου
Comment[es]=Configuración de la tarjeta de red
Comment[fr]=Configuration de la carte réseau
Comment[it]=Configurazione della scheda di rete
Comment[nl]=Netwerk kaart configuratie
Comment[pt]=Configuração de placas de rede
Comment[ru]=Конфигурация сетового адаптера
Comment[sv]=Konfigurering av nätverkskort
Categories=Network;
